<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <title>关于</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <th:block th:replace="components/main::IncludeHead" />
</head>
<body style="background-color:#f7f7fc;">
<th:block th:replace="components/main::Navbar(immersive=true)" />
<main class="page-wrapper">

</main>
<th:block th:replace="components/main::Footer" />
<th:block th:replace="components/main::IncludeFoot" />
</body>
</html>